APP_NAME=GoWatch
APP_ENV=production

POSTGRES_DB=gowatch
POSTGRES_USER=gowatch_user
POSTGRES_PASSWORD=CHANGE_ME_WITH_STRONG_PASSWORD

JWT_SECRET=CHANGE_ME_WITH_RANDOM_SECRET

PUBLIC_APP_URL=http://localhost:8080
PUBLIC_API_BASE_URL=/api/v1

GATEWAY_PORT=8080

TRUSTED_PROXIES=172.16.0.0/12

TZ=Asia/Makassar