APP_NAME=GoWatch
APP_ENV=development
APP_PORT=8081

DB_HOST=localhost
DB_PORT=5433
DB_USER=gowatch_user
DB_PASSWORD=gowatch_dev_password
DB_NAME=gowatch
DB_SSLMODE=disable

JWT_SECRET=CHANGE_ME_WITH_RANDOM_SECRET

FRONTEND_URL=http://localhost:5173